{
    token: "",
    mongo: "",
    "perlevel": true,
    "perMessage": false,
    "levelupchannel": "",
    excludedChannels: [],
    roles: [],
    adminIds: [],
    xpPerMessage: "",
    "xpsystem": true
}